*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header-box{
           margin-top: 47px;
           margin-left: 42px;
           margin-left: 36px;}
.link-header{
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.875px;
          color: #17233D;
           margin-left: 36px;
           cursor: pointer;
             
}
.button-header{  
              background: #6FBF44;
              border: 1px solid #4CB538;
              border-radius: 6px;
              width: 124px;
              height: 51px;
              margin: 36px;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 1px;
              color: #FFFFFF;
              cursor: pointer;

}


img{
        margin: 163px 0 0 121px;
        display: inline block;
       
    
  }
  .titulo{ 
      display: inline-block;
      margin-left: 85px;
      width: 493px;
      
  }

h1{   font-weight: 700;
      font-size: 62px;
      line-height: 82px;
      letter-spacing: 0.596154px;
      color: #161A49;
      margin-top: 342px;
     


}
p{

            font-weight: 400;
            font-size: 18px;
            line-height: 33px;
            letter-spacing: 0.5px;
             color: #4B505A;
             width: 493px;
             margin-top: 47px;
             margin-bottom: 55px;
           
           
  

}
.button-learn{

      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 1px;
      color: #6FBF44;
      background: transparent;
      border: none;
      cursor: pointer;
      margin-bottom: 200px;
}
button:hover{
               opacity: 0.8;

            
}
button:active{
                opacity: 0.5;
}
a:hover{
            opacity: 0.8;

}
a:active{ opacity: 0.5;}

@media screen and (max-width: 750px){
     .header-box{
          height: 100%;
          width: 50%;
          margin: 0;
          padding: 0;
     }







      
}
